<!DOCTYPE html>
<html>
<head>
  <title>dashboard(.ejs)</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>
<body ng-app="DashMod" ng-controller="DashCtrl" ng-init="getUser()">

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">My Site</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li ng-click="logout()" class="active"><a href="#">Log Out</a></li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>
    </section>
  </nav>
  <div class="row">
    <h1>Dashboard</h1>
    <div class="large-2 columns">
      <img ng-src="{{user.gravatarUrl}}">
    </div>
    <div class="large-8 columns">
      <ul>
        <li>Name: {{user.name}}</li>
        <li>E-Mail: {{user.email}}</li>
        <li>Member Since: {{user.createdAt}}</li>
      </ul>
    </div>
  </div>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery-3.1.1.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular-toastr.tpls.min.js"></script>
  <script src="/js/dependencies/foundation.min.js"></script>
  <script src="/js/public/signup/SignupMod.js"></script>
  <script src="/js/public/signup/SignupCtrl.js"></script>
  <script src="/js/public/login/LoginMod.js"></script>
  <script src="/js/public/login/LoginCtrl.js"></script>
  <script src="/js/private/dashboard/DashMod.js"></script>
  <script src="/js/private/dashboard/DashCtrl.js"></script>
  <!--SCRIPTS END-->
</body>
</html>