<h3 class="heading">Main Flavors</h3>
<div ng-controller = "CategoriesCtrl">
	<div class="row">
		<div class="categories">
			<div ng-repeat="category in categories">
				<div class="col-md-6">
					<h3>{{category.name}}</h3>
					<p>{{category.description}}</p>
					<a class="btn btn-primary" href="#/articles/category/{{category.name}}">See More</a>
				</div>
			</div>
		</div>
	</div>
</div>

<h3 class="heading">Your Fresh Doughnuts</h3><a href="#/articles">See More</a>
<div ng-controller = "ArticlesCtrl">
	<div class="row">
		<div class="articles">
			<div ng-repeat="article in articles | limitTo: 10">
				<div class="col-md-6">
					<div class="article">
						<h3>{{article.title}}</h3>
						<p ng-bind="article.debit | currency: $">{{article.debit}}</p>
						<p>{{article.body | limitTo: 100}}</p>
						<a class="btn btn-default" href="#/articles/details/{{article._id}}">Read On...</a>
					</div>
				</div>
			</div>
			<div ng-if="articles == false">
				No Expenses To Display
			</div>
		</div>
	</div>
</div>

<div class="createRow">
	<div class="row">
		<div class="col-lg-12">
		<a class="btn btn-warning" href="#/articles/add">Add A Doughnut!</a>
		</div>
	</div>
</div>
